@model WindsorExample.Models.Link
@{
    ViewBag.Title = "Bipartite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        width: 1200px;
        margin: 100px auto;
    }

    svg text {
        font-size: 12px;
    }

    rect {
        shape-rendering: crispEdges;
    }
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="~/Content/js/biPartite.js"></script>
    <script>
var sales_data=[
['KPI1','RepA',16,0],
['KPI2','RepA',1278,4],
['KPI3','RepA',27,0],
['KPI4','RepA',58,0],
['KPI5','RepA',1551,15],
['KPI6','RepA',141,0],
['KPI1','RepB',5453,35],
['KPI2','RepB',683,1],
['KPI3','RepB',862,0],
['KPI5','RepB',6228,30],
['KPI1','RepC',15001,449],
['KPI2','RepC',527,3],
['KPI3','RepC',836,0],
['KPI4','RepC',28648,1419],
['KPI5','RepC',3,0],
['KPI1','RepC',13,0],
['KPI2','RepC',396,0],
['KPI3','RepC',362,0],
['KPI4','RepC',78,10],
['KPI5','RepC',2473,32],
['KPI6','RepC',2063,64],
['KPI3','RepD',203,0],
['KPI5','RepD',686,2],
['KPI6','RepD',826,0],
['KPI1','RepE',1738,110],
['KPI2','RepE',12925,13],
['KPI3','RepE',15413,0],
['KPI2','RepF',2166,2],
['KPI3','RepF',86,0],
['KPI4','RepF',348,3],
['KPI5','RepF',4244,18],
['KPI6','RepF',1536,1],
['KPI2','RepG',351,0],
['KPI5','RepG',405,1],
['KPI2','RepH',914,1],
['KPI3','RepH',127,0],
['KPI5','RepH',1470,7],
['KPI6','RepH',516,1],
['KPI1','RepI',43,0],
['KPI2','RepI',667,1],
['KPI3','RepI',172,0],
['KPI4','RepI',149,1],
['KPI5','RepI',1380,5],
['KPI6','RepI',791,23],
['KPI2','RepJ',1,0],
['KPI5','RepJ',1,0],
['KPI2','RepK',1070,1],
['KPI5','RepK',1171,2],
['KPI6','RepK',33,0],
['KPI4','RepJ',1,0],
['KPI2','RepM',407,0],
['KPI3','RepM',3,0],
['KPI5','RepM',457,2],
['KPI6','RepM',20,0],
['KPI2','RepL',557,0],
['KPI3','RepL',167,0],
['KPI4','RepL',95,1],
['KPI5','RepL',1090,5],
['KPI6','RepL',676,6],
['KPI1','RepN',1195,99],
['KPI2','RepN',350,3],
['KPI3','RepN',212,0],
['KPI5','RepN',1509,8],
['KPI1','RepO',3899,389],
['KPI2','RepO',147,0],
['KPI3','RepO',455,0],
['KPI4','RepO',1,1],
['KPI5','Report with a really long name to test how well this responds to long names',4100,16],
['KPI1','RepP',12,0],
['KPI2','RepP',634,2],
['KPI3','RepP',749,0],
['KPI4','RepP',119,1],
['KPI5','RepP',3705,19],
['KPI6','RepP',3456,25],
['KPI2','RepQ',828,2],
['KPI3','RepQ',288,0],
['KPI4','RepQ',141,0],
['KPI5','RepQ',2625,7],
['KPI6','RepQ',1920,10],
['KPI2','RepR',1146,2],
['KPI3','RepR',212,0],
['KPI4','RepR',223,4],
['KPI5','RepR',1803,6],
['KPI6','RepR',761,8],
['KPI2','RepS',527,0],
['KPI3','RepS',90,0],
['KPI5','RepS',930,4],
['KPI6','RepS',395,1],
['KPI1','RepT',7232,58],
['KPI2','RepT',1272,0],
['KPI3','RepT',1896,0],
['KPI4','RepT',1,0],
['KPI5','RepT',10782,33],
['KPI6','RepT',1911,3],
['KPI2','RepU',495,0],
['KPI3','RepU',32,0],
['KPI4','RepU',7,0],
['KPI5','RepU',1557,12],
['KPI6','RepU',24,0],
['KPI2','RepV',460,1],
['KPI4','RepV',88,3],
['KPI5','RepV',956,3],
['KPI2','RepX',232,0],
['KPI3','RepX',71,0],
['KPI5','RepX',575,2],
['KPI6','RepX',368,3]
];

var width = 1100, height = 610, margin ={b:0, t:40, l:170, r:50};

var svg = d3.select("body")
	.append("svg").attr('width',width).attr('height',(height+margin.b+margin.t))
	.append("g").attr("transform","translate("+ margin.l+","+margin.t+")");

var data = [
	{data:bP.partData(sales_data,2), id:'SalesAttempts', header:["KPI","Reports", "Links"]}
];

bP.draw(data, svg);

    </script>
</body>