@model WindsorExample.Models.AssignWorkViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!--Font-Awesome, treating images to scale-->
</head>

<div style='float: right; margin: 4px;'>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="blockCol" id="kpiSelection">
    <img src="~\images/kpi.jpg" alt="KPI's'"/>
</div>
<div class="blockCol" id="reportSelection">
    <img src="~\images/reports.jpg" alt="Report's'"/>
</div>
<br />
<br/>
<br/>
<br />
<br />

<div id="partialContainer" class="hidden">
    @Html.Partial("Selector", Model)
</div>
@section Scripts {

    <script>
        $(document).ready(
            function() {
                $("#kpiSelection").click(function () {
                    $("#kpiSelection").fadeTo('slow', 1);
                    $("#reportSelection").fadeTo('slow', 0.1);
                   // $("#partialContainer").fadeTo('slow', 1);
                    $("#partialContainer").removeClass("hidden");

                    // and send it as AJAX request to the newly created action
                    $.ajax({
                        url: '@Url.Action("Selector")',
                        type: 'POST',
                        data: { someValue: "kpi" },//someValue = parameter
                        success: function (result) {
                            // when the AJAX succeeds refresh the ddl container with
                            // the partial HTML returned by the Foo controller action
                            $('#partialContainer').html(result);
                        }
                    });

                });
                $("#reportSelection").click(function () {
                    $("#reportSelection").fadeTo('slow', 1);
                    $("#kpiSelection").fadeTo('slow', 0.1);

                    // and send it as AJAX request to the newly created action
                    $.ajax({
                        url: '@Url.Action("Selector")',
                        type: 'POST',
                        data: { someValue: "reports" },
                        success: function (result) {
                            // when the AJAX succeeds refresh the ddl container with
                            // the partial HTML returned by the Foo controller action
                            $('#partialContainer').html(result);
                        }
                    });
                });
            }
        );
    </script>

}
