
@{
    ViewBag.Title = "Select2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
   <script src="~/Scripts/select2.js"></script>

    <script>
        $(document).ready(function() {
            $("#checkjq").fadeTo('slow', 0.1);
            $("#e1").select2();
        });
    </script>
    <title></title>
</head>
<body>
<h2>Select2</h2>
<select id="e1">
    <option value="1">Hi</option>
    <option value="2">Hi2</option>
</select>

<div id="checkjq">
    hi, this is checking jquery
</div>
</body>
